@model SOR.Models.PacjentModel

@{
    ViewData["Title"] = "Delete";
}

<h1 class="display-4">Wypisz pacjenta</h1>

<h3>Czy na pewno chcesz wypisać tego pacjenta do domu?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pesel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pesel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wywiad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wywiad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Leczenie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Leczenie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rozpoznanie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rozpoznanie)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Wypisz" class="btn btn-danger" />
        <a class="btn btn-dark" asp-action="Index">Wróć do listy pacjentów</a>
    </form>
</div>
